<!DOCTYPE html>
<html>
<head>
    <title>Patient Health Dashboard</title>
    <script src="/javascripts/d3.v5.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<style type="text/css">
  .line {
      fill: none;
      stroke: #ffab00;
      stroke-width: 3;
  }
  .overlay {
    fill: none;
    pointer-events: all;
  }
  .dot {
      fill: #ffab00;
      stroke: #fff;
  }
  .focus circle {
    fill: none;
    stroke: steelblue;
  }

</style>
<body>

<div class="topnav">
  <div class="topnav-left" >
    <a href="/patient_dashboard" style="color:white;margin-left:10px;font-size:20px" > Patient Health Dashboard </a>
  </div>
  <div class="topnav-right">
    <a href="/setting">Setting</a>
    <a href="/">Logout</a>
  </div>
</div>

<div class= "content" style="margin-left:20px" >

  <h2>Patient Information</h2>
  <div class="grid-container" >
    <header class="header">
      <div>
        Patient Name:
        <span class="ob-value" id="patient_name" style="font-weight:bold">..</span>
        <br>
        Gender:
        <span class="ob-value" id="gender" style="font-weight:bold">..</span>
        <br>
        DOB:
        <span class="ob-value" id="dob" style="font-weight:bold" >..</span>
        <br>
        Weight:
        <span class="ob-value" id="weight" style="font-weight:bold" >..</span>
        <br>
        Height:
        <span class="ob-value" id="height" style="font-weight:bold" >..</span>
        <br>
      </div>
    </header>
  </div>

  <h2> Vital Signs </h2>
  <div class="grid-container" >
    <header class="header">
      <div>
        Heart Rate:
        <span class="ob-value" id="heart_rate" style="font-weight:bold">..</span>
        <br>
        Temperature:
        <span class="ob-value" id="temperature" style="font-weight:bold">..</span>
        <br>
        Blood Pressure:
        <span class="ob-value" id="blood_pressure" style="font-weight:bold" >..</span>
        <br>
        Respiratory Rate:
        <span class="ob-value" id="respiratory_rate" style="font-weight:bold" >..</span>
        <br>

      </div>
    </header>
  </div>

    <br>
   <h2> PROTOTYPE Data visualization. This is from mini project 3. I will see if I will do some data visualization on this project </h2>
  <script src="/javascripts/fhir-client.js"></script>
  <script src="/javascripts/get-data-test.js"></script>
</div>
</body>

</html>